.top, .next, .bottom, .prev, a.back {
  background-image: url('../img/icons-02-sf6a3361a01.png');
  background-repeat: no-repeat;
}

.top, .next, .bottom, .prev, a.back {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  height: 32px;
  width: 32px;
}

.top {
  background-position: 0 -96px;
}

.next {
  background-position: 0 -64px;
}

.bottom {
  background-position: 0 0;
}

.prev, a.back {
  background-position: 0 -32px;
}
