.top, .next, .bottom, .prev, a.back {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: url('../img/icons-03-se34d2ead9a.png') no-repeat;
  height: 32px;
  width: 32px;
}

.top {
  background-position: 0 -96px;
}

.next {
  background-position: 0 -64px;
}

.bottom {
  background-position: 0 0;
}

.prev, a.back {
  background-position: 0 -32px;
}
