.test-mixin-1 {
  background-position: 0 -528px;
}

.test-mixin-2 {
  background-position: 0 -528px;
}

.test-mixin-3 {
  height: 32px;
  width: 32px;
}

.test-mixin-4 .test-write-activity_monitor {
  background-position: 0 0;
}
.test-mixin-4 .test-write-activity_monitor_add {
  background-position: 0 -32px;
}
.test-mixin-4 .test-write-activity_monitor_chart {
  background-position: 0 -64px;
}
.test-mixin-4 .test-write-activity_monitor_close {
  background-position: 0 -96px;
}
.test-mixin-4 .test-write-activity_monitor_warning {
  background-position: 0 -128px;
}
.test-mixin-4 .test-write-add_16 {
  background-position: 0 -160px;
}
.test-mixin-4 .test-write-add_32 {
  background-position: 0 -176px;
}
.test-mixin-4 .test-write-address_book_32 {
  background-position: 0 -208px;
}
.test-mixin-4 .test-write-address_book_add_32 {
  background-position: 0 -240px;
}
.test-mixin-4 .test-write-address_book_close_32 {
  background-position: 0 -272px;
}
.test-mixin-4 .test-write-address_book_search_32 {
  background-position: 0 -304px;
}
.test-mixin-4 .test-write-address_book_warning_32 {
  background-position: 0 -336px;
}
.test-mixin-4 .test-write-arrow_down_16 {
  background-position: 0 -368px;
}
.test-mixin-4 .test-write-arrow_down_32 {
  background-position: 0 -384px;
}
.test-mixin-4 .test-write-arrow_left_16 {
  background-position: 0 -416px;
}
.test-mixin-4 .test-write-arrow_left_32 {
  background-position: 0 -432px;
}
.test-mixin-4 .test-write-arrow_right_16 {
  background-position: 0 -464px;
}
.test-mixin-4 .test-write-arrow_right_32 {
  background-position: 0 -480px;
}
.test-mixin-4 .test-write-arrow_up_16 {
  background-position: 0 -512px;
}
.test-mixin-4 .test-write-arrow_up_32 {
  background-position: 0 -528px;
}
.test-mixin-4 .test-write-basket_32 {
  background-position: 0 -560px;
}
.test-mixin-4 .test-write-basket_add_32 {
  background-position: 0 -592px;
}
.test-mixin-4 .test-write-basket_back_32 {
  background-position: 0 -624px;
}
.test-mixin-4 .test-write-basket_chart_32 {
  background-position: 0 -656px;
}
.test-mixin-4 .test-write-basket_close_32 {
  background-position: 0 -688px;
}
.test-mixin-4 .test-write-basket_go_32 {
  background-position: 0 -720px;
}
.test-mixin-4 .test-write-basket_search_32 {
  background-position: 0 -752px;
}
.test-mixin-4 .test-write-blue_arrow_down_32 {
  background-position: 0 -784px;
}
.test-mixin-4 .test-write-blue_arrow_left_32 {
  background-position: 0 -816px;
}
.test-mixin-4 .test-write-blue_arrow_right_32 {
  background-position: 0 -848px;
}
.test-mixin-4 .test-write-blue_arrow_up_32 {
  background-position: 0 -880px;
}
.test-mixin-4 .test-write-book_32 {
  background-position: 0 -912px;
}
.test-mixin-4 .test-write-book_add_32 {
  background-position: 0 -944px;
}
.test-mixin-4 .test-write-book_bookmarks_32 {
  background-position: 0 -976px;
}
.test-mixin-4 .test-write-book_close_32 {
  background-position: 0 -1008px;
}
.test-mixin-4 .test-write-book_search_32 {
  background-position: 0 -1040px;
}
.test-mixin-4 .test-write-book_warning_32 {
  background-position: 0 -1072px;
}
.test-mixin-4 .test-write-camera_32 {
  background-position: 0 -1104px;
}
.test-mixin-4 .test-write-camera_add_32 {
  background-position: 0 -1136px;
}
.test-mixin-4 .test-write-camera_close_32 {
  background-position: 0 -1168px;
}
.test-mixin-4 .test-write-chart_16 {
  background-position: 0 -1200px;
}
.test-mixin-4 .test-write-chart_32 {
  background-position: 0 -1216px;
}
.test-mixin-4 .test-write-chart_flipped_16 {
  background-position: 0 -1248px;
}
.test-mixin-4 .test-write-chart_flipped_32 {
  background-position: 0 -1264px;
}
.test-mixin-4 .test-write-clock_32 {
  background-position: 0 -1296px;
}
.test-mixin-4 .test-write-close_16 {
  background-position: 0 -1328px;
}
.test-mixin-4 .test-write-close_32 {
  background-position: 0 -1344px;
}
.test-mixin-4 .test-write-comment_32 {
  background-position: 0 -1376px;
}
.test-mixin-4 .test-write-comment_add_32 {
  background-position: 0 -1408px;
}
.test-mixin-4 .test-write-comment_page_32 {
  background-position: 0 -1440px;
}
.test-mixin-4 .test-write-comment_user_32 {
  background-position: 0 -1472px;
}
.test-mixin-4 .test-write-comment_user_add_32 {
  background-position: 0 -1504px;
}
.test-mixin-4 .test-write-comment_user_chart_32 {
  background-position: 0 -1536px;
}
.test-mixin-4 .test-write-comment_user_close_32 {
  background-position: 0 -1568px;
}
.test-mixin-4 .test-write-comment_user_info_32 {
  background-position: 0 -1600px;
}
.test-mixin-4 .test-write-comment_user_page_32 {
  background-position: 0 -1632px;
}
.test-mixin-4 .test-write-comment_user_rss_32 {
  background-position: 0 -1664px;
}
.test-mixin-4 .test-write-comment_user_search_32 {
  background-position: 0 -1696px;
}
.test-mixin-4 .test-write-comment_user_warning_32 {
  background-position: 0 -1728px;
}
.test-mixin-4 .test-write-database_32 {
  background-position: 0 -1760px;
}
.test-mixin-4 .test-write-database_add_32 {
  background-position: 0 -1792px;
}
.test-mixin-4 .test-write-database_chart_32 {
  background-position: 0 -1824px;
}
.test-mixin-4 .test-write-database_close_32 {
  background-position: 0 -1856px;
}
.test-mixin-4 .test-write-database_page_32 {
  background-position: 0 -1888px;
}
.test-mixin-4 .test-write-database_search_32 {
  background-position: 0 -1920px;
}
.test-mixin-4 .test-write-database_warning_32 {
  background-position: 0 -1952px;
}
.test-mixin-4 .test-write-email_32 {
  background-position: 0 -1984px;
}
.test-mixin-4 .test-write-email_add_32 {
  background-position: 0 -2016px;
}
.test-mixin-4 .test-write-email_close_32 {
  background-position: 0 -2048px;
}
.test-mixin-4 .test-write-email_forward_32 {
  background-position: 0 -2080px;
}
.test-mixin-4 .test-write-email_reply_32 {
  background-position: 0 -2112px;
}
.test-mixin-4 .test-write-email_reply_all_32 {
  background-position: 0 -2144px;
}
.test-mixin-4 .test-write-error_button {
  background-position: 0 -2176px;
}
.test-mixin-4 .test-write-error_button_16 {
  background-position: 0 -2208px;
}
.test-mixin-4 .test-write-folder_32 {
  background-position: 0 -2224px;
}
.test-mixin-4 .test-write-folder_add_32 {
  background-position: 0 -2256px;
}
.test-mixin-4 .test-write-folder_chart_32 {
  background-position: 0 -2288px;
}
.test-mixin-4 .test-write-folder_close_32 {
  background-position: 0 -2320px;
}
.test-mixin-4 .test-write-folder_page_32 {
  background-position: 0 -2352px;
}
.test-mixin-4 .test-write-folder_search_32 {
  background-position: 0 -2384px;
}
.test-mixin-4 .test-write-folder_warning_32 {
  background-position: 0 -2416px;
}
.test-mixin-4 .test-write-hammer_32 {
  background-position: 0 -2448px;
}
.test-mixin-4 .test-write-heart_16 {
  background-position: 0 -2480px;
}
.test-mixin-4 .test-write-heart_32 {
  background-position: 0 -2496px;
}
.test-mixin-4 .test-write-home_32 {
  background-position: 0 -2528px;
}
.test-mixin-4 .test-write-home_back_32 {
  background-position: 0 -2560px;
}
.test-mixin-4 .test-write-home_go_32 {
  background-position: 0 -2592px;
}
.test-mixin-4 .test-write-info_button_16 {
  background-position: 0 -2624px;
}
.test-mixin-4 .test-write-info_button_32 {
  background-position: 0 -2640px;
}
.test-mixin-4 .test-write-lightbulb_32 {
  background-position: 0 -2672px;
}
.test-mixin-4 .test-write-lightbulb_off_32 {
  background-position: 0 -2704px;
}
.test-mixin-4 .test-write-lock_32 {
  background-position: 0 -2736px;
}
.test-mixin-4 .test-write-lock_open_32 {
  background-position: 0 -2768px;
}
.test-mixin-4 .test-write-newspaper_32 {
  background-position: 0 -2800px;
}
.test-mixin-4 .test-write-newspaper_add_32 {
  background-position: 0 -2832px;
}
.test-mixin-4 .test-write-newspaper_close_32 {
  background-position: 0 -2864px;
}
.test-mixin-4 .test-write-newspaper_info_32 {
  background-position: 0 -2896px;
}
.test-mixin-4 .test-write-newspaper_rss_32 {
  background-position: 0 -2928px;
}
.test-mixin-4 .test-write-newspaper_search_32 {
  background-position: 0 -2960px;
}
.test-mixin-4 .test-write-page_16 {
  background-position: 0 -2992px;
}
.test-mixin-4 .test-write-page_blank_32 {
  background-position: 0 -3008px;
}
.test-mixin-4 .test-write-page_blank_add_32 {
  background-position: 0 -3040px;
}
.test-mixin-4 .test-write-page_blank_chart_32 {
  background-position: 0 -3072px;
}
.test-mixin-4 .test-write-page_blank_close_32 {
  background-position: 0 -3104px;
}
.test-mixin-4 .test-write-page_blank_warning_32 {
  background-position: 0 -3136px;
}
.test-mixin-4 .test-write-page_table_32 {
  background-position: 0 -3168px;
}
.test-mixin-4 .test-write-page_table_add_32 {
  background-position: 0 -3200px;
}
.test-mixin-4 .test-write-page_table_chart_32 {
  background-position: 0 -3232px;
}
.test-mixin-4 .test-write-page_table_close_32 {
  background-position: 0 -3264px;
}
.test-mixin-4 .test-write-page_table_warning_32 {
  background-position: 0 -3296px;
}
.test-mixin-4 .test-write-page_text_32 {
  background-position: 0 -3328px;
}
.test-mixin-4 .test-write-page_text_add_32 {
  background-position: 0 -3360px;
}
.test-mixin-4 .test-write-page_text_chart_32 {
  background-position: 0 -3392px;
}
.test-mixin-4 .test-write-page_text_close_32 {
  background-position: 0 -3424px;
}
.test-mixin-4 .test-write-page_text_warning_32 {
  background-position: 0 -3456px;
}
.test-mixin-4 .test-write-pencil_32 {
  background-position: 0 -3488px;
}
.test-mixin-4 .test-write-rss_16 {
  background-position: 0 -3520px;
}
.test-mixin-4 .test-write-rss_32 {
  background-position: 0 -3536px;
}
.test-mixin-4 .test-write-save_32 {
  background-position: 0 -3568px;
}
.test-mixin-4 .test-write-save_download_32 {
  background-position: 0 -3600px;
}
.test-mixin-4 .test-write-save_upload_32 {
  background-position: 0 -3632px;
}
.test-mixin-4 .test-write-screen_32 {
  background-position: 0 -3664px;
}
.test-mixin-4 .test-write-screen_off_32 {
  background-position: 0 -3696px;
}
.test-mixin-4 .test-write-screwdriver_32 {
  background-position: 0 -3728px;
}
.test-mixin-4 .test-write-search_32 {
  background-position: 0 -3760px;
}
.test-mixin-4 .test-write-search_button_16 {
  background-position: 0 -3792px;
}
.test-mixin-4 .test-write-search_button_32 {
  background-position: 0 -3808px;
}
.test-mixin-4 .test-write-search_button_green_16 {
  background-position: 0 -3840px;
}
.test-mixin-4 .test-write-search_button_green_32 {
  background-position: 0 -3856px;
}
.test-mixin-4 .test-write-search_chart_32 {
  background-position: 0 -3888px;
}
.test-mixin-4 .test-write-search_warning_32 {
  background-position: 0 -3920px;
}
.test-mixin-4 .test-write-star_16 {
  background-position: 0 -3952px;
}
.test-mixin-4 .test-write-star_32 {
  background-position: 0 -3968px;
}
.test-mixin-4 .test-write-star_off16 {
  background-position: 0 -4000px;
}
.test-mixin-4 .test-write-star_off_32 {
  background-position: 0 -4016px;
}
.test-mixin-4 .test-write-tools_32 {
  background-position: 0 -4048px;
}
.test-mixin-4 .test-write-twitter_16 {
  background-position: 0 -4080px;
}
.test-mixin-4 .test-write-twitter_32 {
  background-position: 0 -4096px;
}
.test-mixin-4 .test-write-user_32 {
  background-position: 0 -4128px;
}
.test-mixin-4 .test-write-user_add_32 {
  background-position: 0 -4160px;
}
.test-mixin-4 .test-write-user_blue_32 {
  background-position: 0 -4192px;
}
.test-mixin-4 .test-write-user_business_32 {
  background-position: 0 -4224px;
}
.test-mixin-4 .test-write-user_business_add_32 {
  background-position: 0 -4256px;
}
.test-mixin-4 .test-write-user_business_chart_32 {
  background-position: 0 -4288px;
}
.test-mixin-4 .test-write-user_business_close_32 {
  background-position: 0 -4320px;
}
.test-mixin-4 .test-write-user_business_info_32 {
  background-position: 0 -4352px;
}
.test-mixin-4 .test-write-user_business_rss_32 {
  background-position: 0 -4384px;
}
.test-mixin-4 .test-write-user_business_search_32 {
  background-position: 0 -4416px;
}
.test-mixin-4 .test-write-user_business_twitter_32 {
  background-position: 0 -4448px;
}
.test-mixin-4 .test-write-user_business_warning_32 {
  background-position: 0 -4480px;
}
.test-mixin-4 .test-write-user_close_32 {
  background-position: 0 -4512px;
}
.test-mixin-4 .test-write-user_info_32 {
  background-position: 0 -4544px;
}
.test-mixin-4 .test-write-user_rss_32 {
  background-position: 0 -4576px;
}
.test-mixin-4 .test-write-user_search_32 {
  background-position: 0 -4608px;
}
.test-mixin-4 .test-write-user_twitter_32 {
  background-position: 0 -4640px;
}
.test-mixin-4 .test-write-user_warning_32 {
  background-position: 0 -4672px;
}
.test-mixin-4 .test-write-users_32 {
  background-position: 0 -4704px;
}
.test-mixin-4 .test-write-users_business_32 {
  background-position: 0 -4736px;
}
.test-mixin-4 .test-write-warning_16 {
  background-position: 0 -4768px;
}
.test-mixin-4 .test-write-warning_32 {
  background-position: 0 -4784px;
}
.test-mixin-4 .test-write-web_layout_32 {
  background-position: 0 -4816px;
}
.test-mixin-4 .test-write-web_layout_chart_32 {
  background-position: 0 -4848px;
}
.test-mixin-4 .test-write-web_layout_error_32 {
  background-position: 0 -4880px;
}
.test-mixin-4 .test-write-web_layout_error_32_add {
  background-position: 0 -4912px;
}
.test-mixin-4 .test-write-web_layout_error_32_close {
  background-position: 0 -4944px;
}
.test-mixin-4 .test-write-web_layout_info_32 {
  background-position: 0 -4976px;
}
.test-mixin-4 .test-write-web_layout_rss_32 {
  background-position: 0 -5008px;
}
.test-mixin-4 .test-write-web_layout_search_32 {
  background-position: 0 -5040px;
}
.test-mixin-4 .test-write-web_layout_twitter_32 {
  background-position: 0 -5072px;
}
.test-mixin-4 .test-write-window_app_32 {
  background-position: 0 -5104px;
}
.test-mixin-4 .test-write-window_app_blank_32 {
  background-position: 0 -5136px;
}
.test-mixin-4 .test-write-window_app_list_32 {
  background-position: 0 -5168px;
}
.test-mixin-4 .test-write-window_app_list_add_32 {
  background-position: 0 -5200px;
}
.test-mixin-4 .test-write-window_app_list_chart_32 {
  background-position: 0 -5232px;
}
.test-mixin-4 .test-write-window_app_list_close_32 {
  background-position: 0 -5264px;
}
.test-mixin-4 .test-write-window_app_list_error_32 {
  background-position: 0 -5296px;
}
.test-mixin-4 .test-write-window_app_list_info_32 {
  background-position: 0 -5328px;
}
.test-mixin-4 .test-write-window_app_list_search_32 {
  background-position: 0 -5360px;
}

.test-variable-1 {
  background: url('../img/test-write-s68039567fe.png') no-repeat;
}

.test-variable-2 {
  background-image: url('../img/test-write-s68039567fe.png') no-repeat;
}

.test-variable-3 {
  color: url('../img/test-write-s68039567fe.png');
}
