.menu {
  list-style: none;
  overflow: hidden;
}
.menu li {
  float: left;
}
.menu li + li {
  margin-left: 1em;
}
.menu a {
  text-decoration: none;
}
.menu a :hover {
  text-decoration: underline;
}
.menu a :focus {
  text-decoration: underline;
}
