.logo {
  display: block;
  text-indent: -20000em;
  overflow: hidden;
  text-align: left;
  background: transparent url('../img/logo.png?1382793188') no-repeat 0 0;
  height: 150px;
  width: 200px;
}
