.logo {
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../img/logo.png?1382793188');
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 200px;
  height: 150px;
}
